<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{backHome}">HOME</a>
    <a th:href="@{addTeam}">ADD TEAM</a>
    <a th:href="@{editTeam}">EDIT TEAM</a>
    <a th:href="@{delete}">DELETE TEAM</a>
    <a th:href="@{displayTeam}">DISPLAY TEAMS</a>
<h1>Add page</h1>
    <div>
        <form method="post" th:action="@{/insertTeam}" th:object="${team}">
            <input type="hidden" th:field="*{teamID}">
            <input type="text"  th:field="*{teamName}"><br>
            <input type="text"  th:field="*{continent}"><br>
            <input type="text"  th:field="*{played}"><br>
            <input type="text"  th:field="*{won}"><br>
            <input type="text"  th:field="*{drawn}"><br>
            <input type="text"  th:field="*{lost}"><br>
            <input type="submit" value="Add Team">
        </form>

    </div>
</body>
</html>