<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{backHome}">HOME</a>
    <a th:href="@{addTeam}">ADD TEAM</a>
    <a th:href="@{edit}">EDIT TEAM</a>
    <a th:href="@{delete}">DELETE TEAM</a>
    <a th:href="@{displayTeam}">DISPLAY TEAMS</a>
<h1>Edit Page</h1>
    <table>
        <tr><th>Team Name</th><th>Continent</th><th>Played</th><th>Won</th><th>Drawn</th><th>Lost</th><th>Points</th></tr>

        <th:block th:each="e:${display}">
            <tr>
                <td th:text="${e.teamName}"></td>
                <td th:text="${e.continent}"></td>
                <td th:text="${e.played}"></td>
                <td th:text="${e.won}"></td>
                <td th:text="${e.drawn}"></td>
                <td th:text="${e.lost}"></td>
                <td th:text="${e.won*3 + e.drawn}"></td>
                <td><a th:href="@{'updateTeamById/'+${e.teamID}}">EDIT TEAM</a></td>
            </tr>

        </th:block>
    </table>
    <form th:action="@{/searchE}" method="get">
        <input type="text" name="searchedString">
        <button type="submit">Search</button>
    </form>
</body>
</html>