<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body class="home_background">
<header>
    <div class="wrapper">
        <img th:src="@{'fifa_logo.png'}" class="logo">
        <nav>
            <ul>
                <li><a th:href="@{backHome}">HOME</a></li>
                <li><a th:href="@{addTeam}">ADD TEAM</a></li>
                <li><a th:href="@{edit}">EDIT TEAM</a></li>
                <li><a th:href="@{delete}">DELETE TEAM</a></li>
                <li><a th:href="@{displayTeam}">DISPLAY TEAMS</a></li>
            </ul>
        </nav>
    </div>
</header>
<footer>
    <div>
        © 2021 by Adam Czubernat All rights reserved.
    </div>
</footer>
</body>
</html>