<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body class="update_background">
<div class="form_center" th:align="center">
    <form class="add_form" method="post" th:action="@{/editTeam}" th:object="${team}">
        <input type="hidden" th:field="*{teamID}">
        <input type="text"  th:field="*{teamName}"><br>
        <select th:field="*{continent}">
            <option th:value="Europe">Europe</option>
            <option th:value="Antarctica">Antarctica</option>
            <option th:value="S.America">S.America</option>
            <option th:value="N.America">N.America</option>
            <option th:value="Asia">Asia</option>
            <option th:value="Africa">Africa</option>
            <option th:value="Oceania">Oceania</option>
        </select><br>
        <input type="text"  th:field="*{played}"><br>
        <input type="text"  th:field="*{won}"><br>
        <input type="text"  th:field="*{drawn}"><br>
        <input type="text"  th:field="*{lost}"><br>
        <input type="submit" value="Update Team">
    </form>
</div>
<footer>
    <div>
        © 2021 by Adam Czubernat All rights reserved.
    </div>
</footer>
</body>
</html>