<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" th:action="@{/editTeam}" th:object="${team}">
        <input type="hidden" th:field="*{teamID}">
        <input type="text"  th:field="*{teamName}"><br>
        <input type="text"  th:field="*{continent}"><br>
        <input type="text"  th:field="*{played}"><br>
        <input type="text"  th:field="*{won}"><br>
        <input type="text"  th:field="*{drawn}"><br>
        <input type="text"  th:field="*{lost}"><br>
        <input type="submit" value="Update Team">
    </form>

</div>

</body>
</html>